.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  &__col {
    display: flex;
    width: 33.3333%;
    padding: 0 1.5rem;

    &:not(:nth-child(-n + 3)) {
      margin-top: 3rem;
    }
  }

  &__item {

  }

  &__header {
    position: relative;
    width: 100%;
    max-width: 37rem;
    height: 25.7rem;
    overflow: hidden;

    img {
      @extend .img-cover;
      transition: transform .2s linear;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.7rem;
    height: 7.7rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: $black;
    font-family: 'Montserrat', sans-serif;
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    span:first-child {
      margin-bottom: 0.4rem;
    }
  }

  &__title {
    padding: 2.4rem 0 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }
  
  &__title-link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__cat {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  &__text {
    color: $gray-text;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2;
    margin: 2.4rem 0 3rem 0;
  }
}