.btn {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  @extend .text-overflow;
  transition: all .2s linear;

  &--small {
    font-size: 1.4rem;
    padding: 0.79em 1.57em;
    border-radius: 1.43em;
    font-weight: 700;
  }

  &--smallest {
    min-width: 14.7rem;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.6px;
    padding: 1em;
    border-radius: 1.43em;
    font-weight: 400;

    & + & {
      margin-left: 1.4rem;
    }
  }

  &--transparent {
    color: $black;
    border: 2px solid $black;
    background-color: transparent;

    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.25);
    }
  }

  &--default {
    min-width: 17rem;
    padding: 1.17em 1.6em;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 1.6em;
  }

  &--black {
    color: $white;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
    background-color: $black;
    border: 1px solid $black;

    &:hover {
      color: $gray;
      box-shadow: none;
      background-color: transparent;
      border: 1px solid $gray;
    }
  }

  &--transparent-gray {
    color: $gray;
    background-color: transparent;
    border: 1px solid $gray;

    &:hover {
      color: $white;
      box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
      background-color: $black;
      border-color: black;
    }
  }
}