.progress {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 0.4rem;
    }
  }

  &__title {
    width: 50%;
    font-size: 1.4rem;
    font-weight: 300;
    padding-right: 1.9rem;
    @extend .text-overflow;
  }

  &__bar {
    margin-left: auto;
    width: 13.9rem;
    height: .6rem;
    background-color: #efefef;
  }

  &__bar-value {
    height: 100%;
    background-color: $gray;
  }
}