<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__credits">
                <p class="footer__copyright">© 2018 UI43 - Free Templates</p>
                <ul class="footer__socials">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-behance"></i></a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-dribbble"></i></a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <!--/footer__credits-->
            <nav class="footer__nav">
                <a class="footer__nav-link" href="#">Work</a>
                <a class="footer__nav-link" href="#">About me</a>
                <a class="footer__nav-link" href="#">Blog</a>
                <a class="footer__nav-link" href="#">Contact</a>
                <a class="footer__nav-link btn btn--small btn--transparent-gray" href="#" data-modal="#modalHireMe">Hire me</a>
            </nav>
            <!--/footer__nav-->
        </div>
    </div>
</footer>
