<div class="modal" id="modalHireMe">
    <div class="modal__dialog modal__dialog--sm">

        <button type="button" class="modal__close">
            <i class="fas fa-times-circle"></i>
        </button>
        <!--/modal__close-->

        <div class="contact">
            <div class="contact__left">
                <h3 class="modal__title modal__title--contact">LET'S TALK!</h3>
                <h5 class="modal__subtitle">CALL ME OR SEND ME A REQUEST</h5>

                <ul class="contact__info">
                    <li class="contact__info-item">
                        <i class="fas fa-phone-square-alt contact__info-icon"></i>
                        <a class="contact__info-link" href="tel: (200) 100 3000">(200) 100 3000</a>
                    </li>
                    <li class="contact__info-item">
                        <i class="fas fa-envelope contact__info-icon"></i>
                        <a class="contact__info-link"  href="mailto:designer@ui43.com">designer@ui43.com</a>
                    </li>
                </ul>
                <!--/contact__info-->

                <form class="form" action="/" method="post">
                    <div class="form__control">
                        <label class="form__label" for="formInput">Address e-mail</label>
                        <input type="text" class="form__element" id="formInput" placeholder="Address e-mail">
                    </div>
                   <div class="form__control">
                       <label class="form__label" for="formTextarea">Request</label>
                       <textarea class="form__element form__element--textarea" name="formTextarea" id="formTextarea" placeholder="Type your request..."></textarea>
                   </div>
                    <div class="form__btn">
                        <button class="btn btn--black btn--default" type="submit">SEND</button>
                    </div>
                </form>
            </div>
            <!--/contact__left-->
            <div class="contact__right">
                <img src="assets/images/contact.jpg" alt="contact image">
            </div>
            <!--/contact__right-->
        </div>
        <!--/contact-->
    </div>
    <!--/modal__dialog-->
</div>