<div class="modal" id="modalProject1">
    <div class="modal__dialog">
        <button type="button" class="modal__close">
            <i class="fas fa-times-circle"></i>
        </button>
        <!--/modal__close-->

        <div class="modal-work">
            <div class="modal-work__preview">
                <div class="worksSlider">
                    <div>
                        <img src="assets/images/modal-work.jpg" alt="modal-work img">
                    </div>
                    <div>
                        <img src="assets/images/modal-work1.jpg" alt="modal-work img">
                    </div>
                    <div>
                        <img src="assets/images/modal-work2.jpg" alt="modal-work img">
                    </div>
                </div>

            </div>
            <!--/modal-work__preview-->
            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">Project TITLE</h3>
                    <div class="modal-work__info">
                        category <span class="modal-work__info-devider">|</span> 2018
                    </div>
                </div>
                <!--/modal-work__header-->

                <div class="modal-work__client">
                    <p class="modal-work__client-title">Client</p>
                    <p class="modal-work__client-company">Creative Agency</p>
                </div>
                <!--/modal-work__client-->

                <div class="modal-work__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt error maxime omnis perferendis placeat quod recusandae reiciendis, sapiente similique? Deleniti dicta doloremque excepturi necessitatibus perferendis provident quasi reiciendis voluptate.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt error maxime omnis perferendis placeat quod recusandae reiciendis, sapiente similique? Deleniti dicta doloremque excepturi necessitatibus perferendis provident quasi reiciendis voluptate.
                    </p>
                </div>
                <!--/modal-work__text-->

                <div class="modal-work__footer">
                    <button class="modal-work__btn modal-work__btn--prev" type="button">Previous</button>
                    <button class="modal-work__btn modal-work__btn--next" type="button">Next</button>
                </div>
                <!--/modal-work__footer-->
            </div>
            <!--/modal-work__content-->
        </div>
        <!--/modal-work-->
    </div>
</div>

<div class="modal" id="modalProject2">
    <div class="modal__dialog">
        <button type="button" class="modal__close">
            <i class="fas fa-times-circle"></i>
        </button>
        <!--/modal__close-->

        <div class="modal-work">
            <div class="modal-work__preview">
                <div class="worksSlider">
                    <div>
                        <img src="assets/images/modal-work.jpg" alt="modal-work img">
                    </div>
                    <div>
                        <img src="assets/images/modal-work1.jpg" alt="modal-work img">
                    </div>
                    <div>
                        <img src="assets/images/modal-work2.jpg" alt="modal-work img">
                    </div>
                </div>

            </div>
            <!--/modal-work__preview-->
            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">222Project TITLE222</h3>
                    <div class="modal-work__info">
                        category <span class="modal-work__info-devider">|</span> 2018
                    </div>
                </div>
                <!--/modal-work__header-->

                <div class="modal-work__client">
                    <p class="modal-work__client-title">Client</p>
                    <p class="modal-work__client-company">Creative Agency</p>
                </div>
                <!--/modal-work__client-->

                <div class="modal-work__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt error maxime omnis perferendis placeat quod recusandae reiciendis, sapiente similique? Deleniti dicta doloremque excepturi necessitatibus perferendis provident quasi reiciendis voluptate.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt error maxime omnis perferendis placeat quod recusandae reiciendis, sapiente similique? Deleniti dicta doloremque excepturi necessitatibus perferendis provident quasi reiciendis voluptate.
                    </p>
                </div>
                <!--/modal-work__text-->

                <div class="modal-work__footer">
                    <button class="modal-work__btn modal-work__btn--prev" type="button">Previous</button>
                    <button class="modal-work__btn modal-work__btn--next" type="button">Next</button>
                </div>
                <!--/modal-work__footer-->
            </div>
            <!--/modal-work__content-->
        </div>
        <!--/modal-work-->
    </div>
</div>