<div class="modal">
  <div class="modal__dialog">

    <button type="button" class="modal__close">
      <i class="fas fa-times-circle"></i>
    </button>
    <!--/modal__close-->

    <div class="modal__content">
      <h3 class="modal__title">Resume</h3>

      <div class="modal__buttons">
        <a class="btn btn--transparent-gray btn--smallest" href="#">Download PDF</a>
        <a class="btn btn--transparent-gray btn--smallest" href="#">Print</a>
      </div>
      <!--/modal__buttons-->

      <div class="timeline">
        <div class="timeline__col">
          <h4 class="timeline__title">Experience</h4>
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2017 - <strong>Present</strong></time>
            <h5 class="timeline__subtitle">Freelancer</h5>
            <div class="timeline__position">Director</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore enim, impedit numquam perferendis quidem quod. At dolorum, ex, excepturi harum impedit inventore laboriosam nostrum nulla porro tempore, vitae?</p>
            </div>
          </div>
          <!--/timeline__item-->
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2016 - 2017</time>
            <h5 class="timeline__subtitle">The Best Agency</h5>
            <div class="timeline__position">Art Director</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore enim, impedit numquam perferendis quidem quod. At dolorum, ex, excepturi harum impedit inventore laboriosam nostrum nulla porro tempore, vitae?</p>
            </div>
          </div>
          <!--/timeline__item-->
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2014 - 2016</time>
            <h5 class="timeline__subtitle">Better Agency</h5>
            <div class="timeline__position">Senior UI/UX Designer</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore enim, impedit numquam perferendis quidem quod. At dolorum, ex, excepturi harum impedit inventore laboriosam nostrum nulla porro tempore, vitae?</p>
            </div>
          </div>
          <!--/timeline__item-->
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2012 - 2014</time>
            <h5 class="timeline__subtitle">Good Agency</h5>
            <div class="timeline__position">UI/UX Designer</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore enim, impedit numquam perferendis quidem quod. At dolorum, ex, excepturi harum impedit inventore laboriosam nostrum nulla porro tempore, vitae?</p>
            </div>
          </div>
          <!--/timeline__item-->
        </div>
        <!--/timeline__col-->
        <div class="timeline__col">
          <h4 class="timeline__title">Education</h4>
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2005 - 2010</time>
            <h5 class="timeline__subtitle">UI/UX Design</h5>
            <div class="timeline__position">LA University, USA</div>
          </div>
          <!--/timeline__item-->
          <div class="timeline__item">
            <time datetime="2017-01-01 17:25" class="timeline__date">2002 - 2005</time>
            <h5 class="timeline__subtitle">UI/UX Design</h5>
            <div class="timeline__position">LA Collage of Art, USA</div>
          </div>
          <!--/timeline__item-->


          <div class="timeline__item">
            <h4 class="timeline__title">Skills</h4>
            <div class="progress">
              <div class="progress__item">
                <div class="progress__title">UI/UX Design</div>
                <div class="progress__bar">
                  <div class="progress__bar-value" style="width: 60%;"></div>
                </div>
              </div>
              <!--/progress__item-->
              <div class="progress__item">
                <div class="progress__title">Illustrator</div>
                <div class="progress__bar">
                  <div class="progress__bar-value" style="width: 30%;"></div>
                </div>
              </div>
              <!--/progress__item-->
              <div class="progress__item">
                <div class="progress__title">Photoshop</div>
                <div class="progress__bar">
                  <div class="progress__bar-value" style="width: 90%;"></div>
                </div>
              </div>
              <!--/progress__item-->
              <div class="progress__item">
                <div class="progress__title">Sketch</div>
                <div class="progress__bar">
                  <div class="progress__bar-value" style="width: 55%;"></div>
                </div>
              </div>
              <!--/progress__item-->
            </div>
          </div>
          <!--/timeline__item-->

          <div class="timeline__item">
            <h4 class="timeline__title">Awards</h4>
            <div class="timeline__item">
              <time datetime="2017-01-01 17:25" class="timeline__date">2016</time>
              <h5 class="timeline__subtitle">THE BEST APP INTERFACE</h5>
              <div class="timeline__position">UI/UX Magazine</div>
              <div class="timeline__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
              </div>
            </div>
            <!--/timeline__item-->
            <div class="timeline__item">
              <div class="timeline__item">
                <time datetime="2017-01-01 17:25" class="timeline__date">2016</time>
                <h5 class="timeline__subtitle">THE BEST WEBSITE</h5>
                <div class="timeline__position">UI/UX Magazine</div>
                <div class="timeline__text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                </div>
              </div>
              <!--/timeline__item-->
          </div>
          <!--/timeline__item-->
        </div>
        <!--/timeline__col-->
      </div>
      <!--timeline-->
    </div>
      <!--/timeline-->
      <div class="modal__buttons">
        <a class="btn btn--default btn--black" href="#">HIRE ME</a>
      </div>
    </div>
    <!--/modal__content-->

  </div>
    <!--/modal__dialog-->
</div>