.works {
  margin: 4rem 0;

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__nav-link {
    margin: 0 2rem;
    color: $gray;
    font-size: 1.2rem;
    text-align: center;
    
    &:hover {
      text-decoration: underline;
    }
  }
}