<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body class="">
        <!-- Header -->
        <header class="header">
            {{> header }}
        </header>

        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            {{> body }}
        </main>

        <!-- Footer -->
        {{> footer }}

        <!-- Modal -->
       {{> modal }}
       {{> modal1 }}
       {{> modal-contact }}



        <div class="page-mask" id="pageMask"></div>

        <script src="assets/plugins/jquery.js"></script>
        <script src="assets/plugins/slick.min.js"></script>
        <script src="assets/plugins/init.js"></script>

        <script src="assets/js/app.js"></script>
</body>
</html>
